<ion-header>
  <ion-navbar>
    <ion-title>
      Stopwatch
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content has-header padding>
  <div class="stopwatch">{{displayTime | timeout}}</div>
</ion-content>

<ion-footer>
  <ion-toolbar class="buttons">
    <button ion-button icon-left color="default" (click)="timerControl()">
      <ion-icon name="stopwatch"></ion-icon>
      {{ timerSubscription == null ? 'Start' : 'Stop' }}
    </button>
    <button ion-button color="danger" (click)="timerReset()">Reset</button>
  </ion-toolbar>
</ion-footer>
