page-home {

  .buttons {
    text-align: center;

    button {
      width: 30%;
      text-align: left;
    }
  }

  .stopwatch {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 100%;
    font-size: 4em;
  }
}
