.dark-theme {
  ion-content {
    background-color: #202020;
    color: #fff;
  }

  .toolbar-title {
    color: #fff;
  }

  .toolbar-background {
    border-color: #ff0fff;
    background-color: #303030;
  }




}
